html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/image-picker.css')
    link(rel='stylesheet', href='css/ui.jqgrid.css')
    link(rel='stylesheet', href='css/ui.jqgrid-bootstrap-ui.css')
    link(rel='stylesheet', href='css/ui.jqgrid-bootstrap.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/jstree.min.css')
    link(rel='stylesheet', href='css/colorpicker.css')
    link(rel='stylesheet', href='css/files.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='https://fonts.googleapis.com/css?family=Roboto:400,500|Inconsolata:400,700')
  body
    div.container
      div.clockBar#clockBar
        div
        div.clock#est
        div.clock#utc
        div
      include nav.pug
      div.jumbotron.diagram_jumbotron#diagram_jumbotron(style='height:700px; margin-bottom:36px;')
        div.canvas#diagram
          canvas#background
          canvas#canvas
          div#message
          div#zoom-buttons
            button.zoomIn#zoomIn.ui-icon.ui-icon-zoomin(onclick='zoomIn()')
            button.zoomOut#zoomOut.ui-icon.ui-icon-zoomout(onclick='zoomOut()')
            button.cancelLink#cancelLink(onclick='cancelLink()') Cancel Link
        div#toolbar
          div.toolbar-nav#toolbar-nav
            div.vert-tab#toolsTab(onclick='toggleToolbar("tools")')
            div.vert-tab#tasksTab(onclick='toggleToolbar("tasks")')
            div.vert-tab#notesTab(onclick='toggleToolbar("notes")')
            div.vert-tab#filesTab(onclick='toggleToolbar("files")')
          div.toolbar-nav.click-through 
            div.tab-text.tab-float.rotated.tools-tab TOOLS
            div.tab-text.tab-float.rotated.tasks-tab TASKS
            div.tab-text.tab-float.rotated.notes-tab NOTES
            div.tab-text.tab-float.rotated.files-tab FILES
          div#toolbar-body
            div#notesForm.toolbar-form
              div#notes
              button.btn.btn-primary#newNote(style='margin-top: 5px', onclick='newNote()') New Note
            div#tasksForm.toolbar-form
              textarea.tasks#hostTasks
              textarea.tasks#networkTasks
              textarea.tasks#ccirs
            div#filesForm.toolbar-form
              div#files
              div#progressbar-container
                div#progressbar
            form#toolsForm.toolbar-form
              span.toolbarTitle#toolbarTitle Edit Object
              button.propButton.btn.btn-success#newObjectButton(type='button' disabled) New!
              input(type="hidden", name="id")#propID
              input(type="hidden", name="type")#propType
              div.form-group#propNameGroup
                label Name
                textarea(name="name" onchange="updatePropName(this.value)" disabled).form-control#propName
              div.form-group#propColorGroup
                label Color
                div.colors
                  div#propFillColorDiv
                    select#propFillColor(name="propFillColor" onchange="updatePropFillColor(this.value)")
                      option(value="#ffffff") White
                      option(value="#000000") White
                      option(value="#7bd148") Green
                      option(value="#5484ed") Bold blue
                      option(value="#a4bdfc") Blue
                      option(value="#46d6db") Turquoise
                      option(value="#7ae7bf") Light green
                      option(value="#51b749") Bold green
                      option(value="#fbd75b") Yellow
                      option(value="#ffb878") Orange
                      option(value="#ff887c") Red
                      option(value="#dc2127") Bold red
                      option(value="#dbadff") Purple
                      option(value="#e1e1e1") Gray
                  select#propStrokeColor(name="propStrokeColor" onchange="updatePropStrokeColor(this.value)")
                    option(value="#ffffff") White
                    option(value="#000000") White
                    option(value="#7bd148") Green
                    option(value="#5484ed") Bold blue
                    option(value="#a4bdfc") Blue
                    option(value="#46d6db") Turquoise
                    option(value="#7ae7bf") Light green
                    option(value="#51b749") Bold green
                    option(value="#fbd75b") Yellow
                    option(value="#ffb878") Orange
                    option(value="#ff887c") Red
                    option(value="#dc2127") Bold red
                    option(value="#dbadff") Purple
                    option(value="#e1e1e1") Gray
              div.form-group#propObjectGroup
                ul
                  li
                    a(href="#tabs-icon") Icons
                  li
                    a(href="#tabs-shape") Shapes
                  li
                    a(href="#tabs-link") Links
                div#tabs-icon
                  select.image-picker#prop-icon
                    each icon in icons
                      option(data-img-src="images/icons/" + icon, data-img-class="first", value=icon) icon
                div#tabs-shape
                  select.image-picker#prop-shape
                    each shape in shapes
                      option(data-img-src="images/shapes/" + shape, data-img-class="first", value=shape) shape
                div#tabs-link
                  select.image-picker#prop-link
                    each link in links
                      option(data-img-src="images/links/" + link, data-img-class="first", value=link) link
              div.form-group#moveObject
                  button.propButton.btn.btn-default#moveUp(type='button' disabled) Up
                  button.propButton.btn.btn-default#moveDown(type='button' disabled) Down
                  button.propButton.btn.btn-default#moveToFront(type='button' disabled) Front
                  button.propButton.btn.btn-default#moveToBack(type='button' disabled) Back
              div.form-group#makeObject
                  button.propButton.btn.btn-primary#insertObjectButton(type='button' disabled) Insert
                  button.propButton.btn.btn-info#editDetailsButton(type='button' onclick="editDetails()") Details
                  button.propButton.btn.btn-danger#deleteObjectButton(type='button') Delete
                  button.btn.btn-default(type='button' onclick="closeToolbar()") Cancel

      div.jumbotron#tables(style="overflow: visible")
        div.table-nav
          div.horiz-tab.active-horiz-tab#eventsTab(onclick='showTable("events")')
          div.horiz-tab#opnotesTab(onclick='showTable("opnotes")')
          div.horiz-tab#chatTab(onclick='showTable("chat")')
          div.horiz-tab#settingsTab(onclick='showTable("settings")')
        div.toolbar-nav.click-through 
          div.tab-text.tab-float.events-tab EVENTS
          div.tab-text.tab-float.opnotes-tab OPNOTES
          div.tab-text.tab-float.chat-tab CHAT
          div.tab-text.tab-float.settings-tab SETTINGS
        div#events
          div#sliderContainer
            button#play.ui-icon.ui-icon-play(onclick='toggleAnimateSlider()')
            div#slider
          table#events2
          div#eventsPager
          span(style='margin-right: 10px;')
            button.btn.btn-primary#downloadEvents(onclick='downloadEvents()') Download Events
          span
            a.btn.btn-primary#downloadEvents(onclick='downloadDiagram(this)') Download Diagram
        div#opnotes(style="display: none;")
          table#opnotes2
          div#opnotesPager
          button.btn.btn-primary#downloadOpnotes(onclick='downloadOpnotes()') Download Opnotes
        div#chat(style="display: none;")
          div#channels
            div.channel.channel-selected#channel-log #log
              span#unread-log.unread(style="display: none;")
            div.channel#channel-general #general
              span#unread-general.unread(style="display: none;")
          div#channel-panes
            div#log.channel-pane
            div#general.channel-pane(style="display: none;")
            div#channel-footer
              input(type="text", name="message-input-box")#message-input-box.message-input-box
        div#settings(style="display: none;")
script var permissions = "#{permissions}".split(',');
script(src='js/jquery.js')
script(src='js/grid.locale-en.js')
script(src='js/jquery.jqGrid.min.js')
script(src='js/bootstrap.min.js')
script(src='js/image-picker.min.js')
script(src='js/colorpicker.js')
script(src='js/fabric.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery-ui-timepicker-addon.min.js')
script(src='js/nouislider.min.js')
script(src='js/sharedbclient.js')
script(src='js/jstree.min.js')
script(src='js/bootbox.min.js')
script(src='js/cop.js')
script(src='js/files.js')
